.header {
  @include flex-row();
  @include container-padding();

  background: var(--primary-lighter);
}

.header__logo,
.header__nav {
  flex: auto;

  @include breakpoint(max, small) {
    text-align: center;
  }
}

.header__logo {
  font-size: 2.5rem;

  @include breakpoint(max, small) {
    padding-bottom: 1rem;
  }

  > a {
    color: var(--primary);
    text-decoration: none;
  }
}

.header__nav-item-container {
  @include flex-row(center, flex-end);

  height: 100%;
  list-style-type: none;

  @include breakpoint(max, small) {
    justify-content: space-between;
  }
}

.header__nav-item {
  @include nav-item(var(--primary));
}
