.page__article {
  display: grid;
  grid-template-rows: repeat(auto);
  grid-template-areas:
    'header header header'
    'main main main'
    'footer footer footer';
  row-gap: var(--gap);
}

.page__header {
  @include container-padding();
  @include flex-row(center, center);
  background: var(--primary) center/cover no-repeat;
  grid-area: header;
  min-height: 350px;
  max-height: 30vh;
  position: relative;
  text-align: center;

  &::before {
    $color: #955e42;
    content: '';
    background: rgba($color, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
}

.page__header-title {
  font-size: 2.25rem;
  color: #fff;
  z-index: 1;
}

.page__section {
  grid-area: main;
  padding: 4rem 0;

  @include breakpoint(max, medium) {
    @include container-padding();
  }

  > * {
    max-width: 800px;
    margin: 0 auto;
  }

  > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}
